doctype html
html(lang="sv")
  head
    meta(charset="utf-8")
    meta(name="description", content="Lorem ipsum")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Hello World!
    link(href="/assets/css/app.css", rel="stylesheet")

  body
    #page
        header
            nav(role="navigation")
                a(href="#home") Hem
                a(href="#about") Om oss
                a(href="#contact") Kontakt
    
        #main
            section.start
                .placeholder
                    h1 Hej! Vi är XXX,
                    
                    p en nystartad digital produktionsbyrå.
                    
                    p Vi vill hjälpa webbyråer och reklambyråer med... er koncept, design till en blablabla produkt.
                    
                    p Med en bakgrund från reklambranschen är vi vana(har erfarenhet) att jobba med kreatörer för att hitta den bästa teknikska lösningen till idén.
                    
                    *Varför finns vi?*
                    
                    *what we do*
            section.about
                .placeholder
                    h1 Om oss
                    
                    p XXX grundades 2015 i Stockholm av två polare med ambitionen att leverera tighta tekniska lösningar.
                    
                    p Vi arbetar med en mängd av olika ramverk och verktyg för att kunna välja rätt kombination utifrån projektens behov.
                    
                    p Detta gör att vi kan leverera snabbt utan att kompromissa på kvalitén.
                    
                    p Vi jobbar tätt med er designer för att se till att slutprodukten är som ni tänkt
                    
                    p Berätta mer om hur vi tänkt att jobba typ deleveramser, beta versioner och revisioner, dvs vår arbetsprocess och flöde
                    nämn  olika verktyg som basecamp, mm, jira
                    
                    Här är viktigt att vi presenter oss och vårt erbjudande. att vi jobbar mot webbyrårer eller reklambyerårer som vi kodar upp eller att vi
                        kan komma in som konsulter också och kan vara med i hela processen. För att det är bra om vi vet var målet är. Inrikting på små till medelstora projekt men även i 
                        vissa fall större projekt.
                    
                    this was build using jade for markup, stylus, nib and jeet for styling, bootstrap and coffeescript for functionality. compiled by gulp and browserify
                    
                    Vi älskar att utforska nya verktyg som gör vårt jobb lättare och snabbare
            section.contact
                .placeholder
                    h1 contact
                    
                    p Behöver ni våra tjänster eller bara är nyfikna på vilka vi är så hör av dig.
                    
                    p 
                        a(href="mailto:contact@xxx.se") hej@xxx.se
        
    script(src="/assets/js/main.js")