doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Hello World!
    link(href="/assets/css/main.css", rel="stylesheet")

  body
    #page
        header
            nav(role="navigation")
                a(href="#home") Hem
                a(href="#about") Om oss
                a(href="#contact") Kontakt
    
        #main
            section.start
                .placeholder
                    h1 Hej! Vi är XXX,
                    
                    p en nystartad produktionsbyrå som har passion för det senaste inom webb.
                    
            section.about
                .placeholder
                    h1 Om oss
                    
                    p XXX grundades 2015 i Stockholm av två polare med ambitionen att leverera tighta tekniska lösningar.
                    
                    p Vi arbetar med en mängd av olika ramverk och verktyg för att kunna välja rätt kombination utifrån projektens behov.
                    
                    p Detta gör att vi kan leverera snabbt utan att kompromissa på kvalitén.
                    
                    p jobbar tätt med er designer för att se till att slutprodukten är som ni tänkt
                    
                    p Berätta mer om hur vi tänkt att jobba typ deleveramser, beta versioner och revisioner, dvs vår arbetsprocess och flöde
                    nämn  olika verktyg som basecamp, mm, jira
                    
                    Här är viktigt att vi presenter oss och vårt erbjudande. att vi jobbar mot webbyrårer eller reklambyerårer som vi kodar upp eller att vi
                        kan komma in som konsulter också och kan vara med i hela processen. För att det är bra om vi vet var målet är. Inrikting på små till medelstora projekt men även i vissa fall större projekt.
                    
            section.contact
                .placeholder
                    h1 contact
                    
                    p Behöver ni våra tjänster eller bara är nyfikna på vilka vi är så hör av dig.
                    
                    p 
                        a(href="mailto:contact@xxx.se") hej@xxx.se
        
    script(src="/assets/js/main.js")