doctype html
html(lang="sv")
  head
    meta(charset="utf-8")
    meta(name="description", content="Lorem ipsum")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Hello World!
    link(href="/assets/css/app.css", rel="stylesheet")

  body
    #page
        header
            nav(role="navigation")
                a(href="#home") Hem
                a(href="#about") Om oss
                a(href="#contact") Kontakt
    
        #main
            section.start
                .placeholder
                    h1 Hej! Vi är ***,
                    
                    p en nystartad digital produktionsbyrå.
                    
                    p Vi hjälper reklam- och webbyråer med att översätta koncept och design till webbplatser.
                                        
            section.about
                .placeholder
                    h1 Om oss
                    
                    p *** grundades 2015 i Stockholm av två vänner med över 20 års sammanlagd erfarenhet av webbutveckling.
                    
                    p Med en bakgrund i reklambranschen har vi erfarenhet av att jobba tillsammans med kreatörer för att sedan utifrån idén ta fram den bästa tekniska lösningen.

                    p Vi jobbar att genom 
                    
                    
                        Berätta mer om hur vi tänkt att jobba typ deleveramser, beta versioner och revisioner, dvs vår arbetsprocess och flöde
                    nämn  olika verktyg som basecamp, mm, jira
                    
                    
                    p Vi arbetar med en mängd av olika ramverk och verktyg för att kunna välja rätt kombination utifrån projektens behov.
                    
                    p Detta gör att vi kan leverera snabbt utan att kompromissa på kvalitén.
                    
                    p Vi jobbar tätt med er designer för att se till att slutprodukten är som ni tänkt
                    
                
                    
                    this was build using jade for markup, stylus, nib and jeet for styling, bootstrap and coffeescript for functionality. compiled by gulp and browserify
                    
                    Vi älskar att utforska nya verktyg som gör vårt jobb lättare och snabbare
            section.contact
                .placeholder
                    h1 Kontakta oss
                    
                    p Behöver ni våra tjänster eller bara är nyfikna på vilka vi är så hör av dig.
                    
                    p 
                        a(href="mailto:contact@***.se") hej@xxx.se
        
    script(src="/assets/js/main.js")