doctype html
html(lang="sv")
  head
    meta(charset="utf-8")
    meta(name="description", content="Lorem ipsum")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Hello World!
    link(href="/assets/css/app.css", rel="stylesheet")
  body
    #page
        header
            nav(role="navigation")
                a(href="#home") Hem
                a(href="#about") Om oss
                a(href="#contact") Kontakt
    
        #main
            section.start
                .placeholder
                    h1 Hej! Vi är ***,
                    
                    p en nystartad digital produktionsbyrå.
                    
                    p Vi hjälper reklam- och webbyråer med att översätta koncept och design till webbplatser. 
                                        
            section.about
                .placeholder
                    h1 Om oss
                    
                    p *** grundades 2015 i Stockholm av två vänner med över 20 års sammanlagd erfarenhet av webbutveckling.
                    
                    p Med en bakgrund i reklambranschen har vi erfarenhet av att jobba tillsammans med kreatörer för att sedan utifrån idén ta fram den bästa tekniska lösningen.

                    p Tillsammans med kunden tar vi fram en tydlig kravspecifikation över de delar som behöver utvecklas för projektet. Utifrån specifikationen delleverarar vi
                    varje del för att beställaren ska kunna ge feedback och komma med ändringar. Detta för att säkerställa att slutprodukten uppfyller sitt syfte.
                    
                    p Vi anser att tydlig kommunikation är det viktigaste i ett projekt.
                                   
                    p Vi arbetar med en mängd av olika ramverk för att kunna välja rätt kombination utifrån projektens behov och använder oss av verktyg som gör vårt jobb snabbare att utföra.
                                        
            section.contact
                .placeholder
                    h1 Kontakta oss
                    
                    p Behöver ni våra tjänster eller bara är nyfikna på vilka vi är?
                    
                    p
						a(href="#home") Hem

    script(src="/assets/js/main.js")