@import 'nib'

global-reset()


@import 'jeet'

@require "helpers/*.css"

@require "fonts.css"
@require "structure"

h1
	font-size 3em
	font-family Roboto, sans-serif
	font-weight 900

p
	font-size 1.2em
	font-family Roboto, sans-serif
	font-weight 300
	