@import 'jeet'

/*
edit()

section
  center(800px)

  p
    col(1/3)

  h1
    col(2/3)

/* @include edit() */
*/

@require "helpers/normalize"
@require "helpers/helpers"

@require "fonts"
@require "structure"