html,
body,
#page,
#main
	height: 100%   
	

body
	font-family Roboto, sans-serif
	font-weight 300

h1
	font-weight 900

h1
	font-size: 3em
	margin-bottom: .5em

h1 + p
	font-size: 1.8em
	font-weight: 100
	margin-bottom: 1.5em

p
	margin-bottom: .5em
	line-height: normal