#page > header
	background-color: rgba(0, 0, 0, 0.8)
	padding: (20/16)em 0
	position: fixed
	text-align: center
	top: 0
	width: 100%
	z-index: 1

	nav a
		font-weight: 300
		text-decoration: none
		
	a
		color: #fff
		margin-left: 2em
		
		&:first-child
			margin-left: 0