#main > section
	background-color: black
	display: table
	color: #fff
	height: 100%
	width: 100%

	&#home
		background-color: blue
	
	&#about
		background-color: purple
		
	&#contact
		background-color: red	
			  
	.content	
		center(960px, 20px)
		display: table-cell
		margin: 0
		padding-top: 40px
		padding-bottom: 40px
		vertical-align: middle