html,
body,
#page,
#main
	height: 100%   

body
	font-family: Roboto, sans-serif
	font-weight: 300
	
section
	background-color: black
	display: table
	color: #fff
	height: 100%
	width: 100%

/*		   
	transition: all 2s
	
	&.start
		background-color: red

	&.about
		background-color: green
			
	&.contact
		background-color: blue
		
	&.animate

*/
		  
	.content	
		center(960px, 20px)
		display: table-cell
		margin: 0
		padding-top: 40px
		padding-bottom: 40px
		vertical-align: middle
	
	
header
	background-color: rgba(0, 0, 0, 0.8)
	padding: (20/16)em 0
	position: fixed
	text-align: center
	top: 0
	width: 100%
	z-index: 1

nav a
	font-weight: 300
	text-decoration: none
	
a
	color: #fff
	margin-left: 2em
	
	&:first-child
		margin-left: 0
	
h1
	font-size: 3em
	font-weight: 900
	margin-bottom: .5em

h1 + p
	font-size: 1.8em
	font-weight: 100
	margin-bottom: 1.5em

p
	font-size 1.2em
	margin-bottom: .5em
	line-height: normal