html,
body,
#page,
#main
	height: 100%   

section
	background-color: black
	display: table
	color: #fff
	height: 100%
	width: 100%

/*		   
	transition: all 2s
	
	&.start
		background-color: red

	&.about
		background-color: green
			
	&.contact
		background-color: blue
		
	&.animate

*/
		  
	.content	
		center(960px, 20px)
	
		display: table-cell
		margin: 0
		padding-top: 40px
		padding-bottom: 40px
		vertical-align: middle
	
	
header
	position: absolute
	text-align: center
	top: 20px
	width: 100%
	z-index: 1

a
	color: #fff
	margin-left: 2em
	
	&:first-child
		margin-left: 0
	
h1
	font-size: 3em
	margin-bottom: .5em	

h1 + p
	font-size: 2em
	margin-bottom: 1.5em